<!DTD html>
<html lang="es">
	<head>
		<meta http-equiv="Content-Type" CONTENT="text/html; charset=UTF-8">
		<title>Article template</title>
		<link rel="stylesheet" type="text/css" href="/css/style.css">
	</head>
	<body>
		<div class="frame">
			<header>
				<a href="main.html" class="title">{Título del blog}</a>
				<section class="subtitle">{Subtítulo del blog}</section>
			</header>
			<section>
				<aside class="tags">{listado de tags}</aside>
				<section class="cuerpo">
					<article class="articulo">
						<header><h1>{Título del artículo}</h1></header>
						<p>{Cuerpo del artículo o o o o o o o o o o o o o o o o o o o o o 
						o o o o o o o o o o o o o o o o o o o o o o o o o o o o o o o o o 
						o o o o o o o o o o o o o o o o o o o o o o o o o o o o o o o o o 
						o o o o o o o o o o o o o o o o o o o o o o o o o o o o o o o o o 
						o o o o o o o o o o o o o o o o o o o o o o o o o o o o o o o o o 
						o o o o o o o o o o o o o o o o o o o o o o o o o o o o o o o o o 
						o o o o o o o o o o o o o o o o o o o o o o o o o o o o o o o o o }</p>
						<footer>{Pie del artículo}</footer>
					</article>
					<section class="nuevo-comentario">
						{Formulario para nuevo comentario}
					</section>
					<section class="comentarios">
						<ol>
							<li>{Comentario uno}</li>
							<li>{Comentario dos}</li>
							<li>{Comentario tres}</li>
							<li>{Comentario cuatro}</li>
							<li>{Comentario cinco}</li>
							<li>{Comentario seis}</li>
						</ol>
					</section>
				</section>
			</section>
			<footer>
				BlogPHP &copy;2013
			</footer>
		</div>
	</body>
</html>