<!DTD html>
<html lang="es">
	<head>
		<meta http-equiv="Content-Type" CONTENT="text/html; charset=UTF-8">
		<title>Main template</title>
		<link rel="stylesheet" type="text/css" href="/css/style.css">
	</head>
	<body>
		<div class="frame">
			<header>
				<a href="main.html" class="title">{Título del blog}</a>
				<section class="subtitle">{Subtítulo del blog}</section>
			</header>
			<section>
				<aside class="tags">{listado de tags}</aside>
				<section class="cuerpo">
					<ul class="listado-de-articulos">
						<li>
							<article>
								<header><a href="article.html">{Articulo uno}</a></header>
								<p>Resúmen del articulo uno uno uno uno uno uno uno 
								uno uno uno uno uno uno uno uno uno uno uno uno uno 
								uno uno uno uno uno uno uno uno...</p>
							</article>
						</li>
						<li>
							<article>
								<header><a href="article.html">{Articulo dos}</a></header>
								<p>Resúmen del artículo dos dos dos dos dos dos dos 
								dos dos dos dos dos dos dos dos dos dos dos dos dos 
								dos dos dos dos dos dos dos dos dos...</p>
							</article>
						</li>
						<li>
							<article>
								<header><a href="article.html">{Articulo tres}</a></header>
								<p>Resúmen del artículo tres tres tres tres tres tres
								tres tres tres tres tres tres tres tres tres tres tres
								tres tres tres tres tres tres tres tres tres tres...</p>
							</article>
						</li>
						<li>
							<article>
								<header><a href="article.html">{Articulo cuatro}</a></header>
								<p>Resúmen del artículo cuatro cuatro cuatro cuatro cuatro 
								cuatro cuatro cuatro cuatro cuatro cuatro cuatro cuatro cuatro 
								cuatro cuatro cuatro cuatro cuatro cuatro cuatro cuatro...</p>
							</article>
						</li>
					</ul>
				</section>
			</section>
			<footer>
				BlogPHP &copy;2013
			</footer>
		</div>
	</body>
</html>